@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: rgb(255, 255, 123);
}

main{
    background-color: white;
    width: 80%;
    height: 80%;
    display: flex;
}